doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Navigation
        link(rel="stylesheet", href="/css/main.css")
    body 
        .nav-header-container
                ul.nav-header
                    li 
                        a.link(href="/") Home
                    li 
                        a.link(href="/add-product") Add Product
                    li 
                        a.link(href="/cart") Cart